<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3>About Envoy</h3><br>
      <h4>Our main goal is to create awareness of how easy it is to go green through our offered products.  We value the our environment, which is why we have allocated as many green and environmentally friendly products on our website.</h4><br>
      <p>Going green has never been easier!  All you need to do as a consumer is browse our offered products and you can see for yourself that your options aren't limited to the other hamrful products that are not environmentally conscious.</p>
    </div>
    <div class="col-sm-4 text-center">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
