<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3>About Envoy</h3><br>
      <h4>Our main goal is to create awareness on how easy it is to go green through our <a href="/products">user-submitted products</a>.  
        We value the our environment, which is why we have allocated so many green and environmentally friendly products on our website.</h4><br>
      <p>Going green has never been easier! All you need to do as a consumer is browse our <a href="/products">user-submitted products</a> and you can see for yourself that your options aren&rsquo;t limited to harmful products that are not environmentally conscious.</p>
    </div>
    <div class="col-sm-4 text-center">
      <img src="/images/leaf.svg" width="200">
    </div>
  </div>
</div>
