<!-- Container (Jumbotron) -->
<section class="jumbotron text-center center-block">
    <div>
        
        <h2>Let&rsquo;s go GREEN</h2>
        <h1>Env<span class="typed"></span></h1>
        <div class="about-box">When it comes to helping the environment, we all want to do better. But it&rsquo;s hard to know where to start. Envoy is a community that shares products and insights to help&nbsp;us&nbsp;all live more sustainably.</div>
    
      </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

<!-- Jumbotron Typed -->
<script>
    var typed3 = new Typed('.typed', {
        strings: [
            'ision',
            'ironment',
            'oy',
        ],
        typeSpeed: 60,
        backSpeed: 60,
        smartBackspace: true, // this is a default
        loop: true
    });
</script>