<!-- Container (Jumbotron) -->
<section class="jumbotron text-center">
    <div>
        <div class="d-flex">
            <img src="./E.png" alt="">
        </div>
        <h2>Let&rsquo;s go GREEN</h2>
        <h1>Env<span class="typed"></span></h1>
    
      </div>
</section>

<script src="/javascript/typed.js"></script>

<!-- Jumbotron Typed -->
<script>
    var typed3 = new Typed('.typed', {
        strings: [
            'ision',
            'ironment',
            'oy',
        ],
        typeSpeed: 60,
        backSpeed: 60,
        smartBackspace: true, // this is a default
        loop: true
    });
</script>