<!-- Modal -->
<div class="modal login-modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content login-modal-content">
            <div id="formContent">
                <!-- Icon -->
                <div class="fadeIn first top">
                    <img src="/images/envoy.svg" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form class="login-form">
                    <input type="text" id="email-login" class="fadeIn second" name="email" placeholder="email">
                    <input type="text" id="password-login" class="fadeIn third" name="password" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>


                <div id="formFooter">
                    <p>Don't have an account with us?</p><a class="underlineHover" href="./signup">SignUp Here</a>
                </div>

            </div>
        </div>
    </div>
</div>