<div class="meta">
{{#if user.avatar}}
<img src="{{user.avatar}}" width="45" height="45"/>
{{/if}}
<p class="credit">Posted by <span class="author">{{user.first_name}} {{user.last_name}}</span> on&nbsp;{{&format_date created_at}}</p>
</div>