<div class="row slideanim">
    <div class="col">
        <div class="panel panel-default">
            <div class="panel-heading post-card-heading">
                <h4>{{title}}</h4>
            </div>
            <div class="panel-body">
                <p>{{post_content}}</p>
            </div>
        </div>
    </div>
</div>



{{!-- {
  "featured_posts": [
    {
      "id": 3,
      "title": "Post title 3",
      "post_content": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature",
      "post_url": "http://www.example.com/",
      "user": {
        "avatar": "",
        "author": "Joe Smith"
      }
    }
  ],
  "featured_products": [
    {
      "id": 1,
      "name": "Product 1",
      "description": "sample description",
      "website": "https://example.com",
      "product_img": "https://example.com",
      "user": {
        "avatar": "",
        "full_name": "Richard Smith"
      },
      "category": {
        "category_name": "Stationary"
      }
    },
    {
      "id": 2,
      "name": "Product 2",
      "description": "sample description",
      "website": "https://example.com",
      "product_img": "https://example.com",
      "user": {
        "avatar": "",
        "full_name": "Richard Smith"
      },
      "category": {
        "category_name": "Stationary"
      }
    },
    {
      "id": 3,
      "name": "Product 3",
      "description": "sample description",
      "website": "https://example.com",
      "product_img": "https://example.com",
      "user": {
        "avatar": "",
        "full_name": "Richard Smith"
      },
      "category": {
        "category_name": "Stationary"
      }
    }
  ]
} --}}