<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4 text-center">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h3>Our Values</h3><br>
      <h4><strong>MISSION:</strong>
      Our <a href="/articles">Articles</a> section explores topics such as "green" practices, products, technologies, sustainable alternatives, along with related news and issues.
      Our Mssion is to pursue knowledge and practices that can lead to more environmentally friendly and ecologically responsible decisions and lifestyles, 
      which can help protect the environment and sustain its natural resources for current and future generations.

      </h4><br>
      <p><strong>VISION:</strong>
      People of all ages are inspired by the idea of making the world a better place, 
      but sustainability boils down to using resources wisely to ensure the ongoing capacity to maintain life and provide for future generations. 
      By providing engaging content, we hope we can empower learners to take an active role in the sustainability movement.
      </p>
    </div>
  </div>
</div>

<div id="services" class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
    </div>
    <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>LOVE</h4>
    </div>
  </div>
</div>