<div class="container">
    <div class="row post">
    <h2>Add an article</h2>
    <form>
        <div class="form-column">
            <label for="title">Title</label><br />
            <input type="text" id="title" name="title" />
        </div>
        <div class="form-column right-column">
            <label for="post-url">Further Reading link <span class="optional">(Optional)</span></label><br />
            <input type="text" id="post-url" name="post-url" />
        </div>
        <div class="form-bottom">
            <label for="post-content">Post Content</label>
            <textarea class="big-textarea" id="post-content" name="post-content"></textarea>
        </div>
     
        <button type="submit">&nbsp; Post &nbsp;</button>
    </form>
    </div>
</div>

<script src="/javascript/add-post.js"></script>