<form class="new-blog-form container-fluid bg-grey">
  <!-- title input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="post-title">Title</label>
    <input type="" id="post-title" class="form-control" name="post-title"/>
  </div>

  <!-- name input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="content">Content</label>
    <textarea class="form-control" id="content" rows="4" name="content"></textarea>
  </div>
<br>

  <!-- Submit button -->
  <div class="text-center">
    <button type="submit" class="btn add" style="color: white">Post Blog</button>
  </div>
</form>

<script src="/javascript/add-blog.js"></script>