<form class="container-fluid bg-grey addproduct new-post-form">

  <div class="form-group col-md-6">
    <label for="post-product" class="col-2 col-form-label">Product Name</label>
    <input class="form-control" type="" id="post-product" placeholder="product name" name="post-product">
  </div>

  <div class="form-group col-md-6">
    <label for="post-description" class="col-2 col-form-label">Description</label>
    <input class="form-control" type="" id="post-description" placeholder="description" name="post-description">
  </div>

  <div class="form-group col-md-6">
    <label for="post-website" class="col-2 col-form-label">Website</label>
    <input class="form-control" type="url"  id="post-website" placeholder="website" name="post-website">
  </div>

  <div class="form-group col-md-6">
    <label for="post-website" class="col-2 col-form-label">Where To Buy</label>
    <input class="form-control" type="url"  id="post-website" placeholder="website" name="post-website">
  </div>

  <div class="form-group col-md-6">
    <label for="post-website" class="col-2 col-form-label">Image</label>
    <input class="form-control" type="url"  id="post-website" placeholder="link for image" name="post-website">
  </div>

  <div class="form-group col-md-6">
    <label for="inputCategory">Category</label>
    <select id="inputCategory" class="form-control" name="inputCategory">
      <option selected>Choose...</option>
      <option>Cleaning Products</option>
      <option>Electronics</option>
      <option>Fashion</option>
      <option>Laundry</option>
      <option>Personal Hygiene</option>
      <option>Stationary</option>
      <option>Vehicle</option>
    </select>
  </div>
  
  <div class="text-center">
    <button type="submit" class="btn add" style="color: white">Add Product +</button>
  </div>
</form>

<script src="/javascript/add-post.js"></script>