{{> hero}}

<!-- Container (Featured Products Section) -->
<div id="products" class="container-fluid">
    <div class="text-center">
        <h2>FEATURED PRODUCTS</h2>
    </div>
    <div class="slideanim product-container">
        {{#each data.featured_products as |product|}}
        {{> product-card product }}
        {{/each}}
    </div>
</div>

<!-- Container (Featured Blogs Section) -->
<div id="products" class="container-fluid">
    <div class="text-center">
        <h2>FEATURED BLOGS</h2>
    </div>
     {{#each data.featured_posts as |post|}}
        {{> post-card post }}
    {{/each}}
    </div>
</div>
<!--
{{> about-us}}
{{> vision-and-services}}
-->