{{> hero}}

{{> about-us}}


<!-- Container (Featured Products Section) -->
<div id="products" class="container-fluid">
    <div class="text-center">
        <h2>FEATURED PRODUCTS</h2>
        <h4>Some featured products chosen by our admins</h4>
    </div>
    <div class="row slideanim">
        {{#each data.featured_products as |product|}}
        {{> product-card product }}
        {{/each}}
    </div>
</div>

<!-- Container (Featured Blogs Section) -->
<div id="products" class="container-fluid">
    <div class="text-center">
        <h2>FEATURED BLOGS</h2>
        <h4>Some featured blogs chosen by our admins</h4>
    </div>
     {{#each data.featured_posts as |post|}}
        {{> post-card post }}
    {{/each}}
    </div>
</div>
