<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <!-- Icon -->
      <div class="fadeIn first top">
        <img src="./library/images/envoy.svg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="email-login" class="fadeIn second" name="login" placeholder="email">
        <input type="text" id="password-login" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  

      <div id="formFooter">
        <p>Don't have an account with us?</p><a class="underlineHover" href="./signup.html">SignUp Here</a>
      </div>
  
    </div>
</div>

<script src="./javascript/login.js"></script>