<script src="https://app.simplefileupload.com/buckets/afa7fd6af8e1879aceb8ba0fcf296668.js"></script>
<div class="wrapper fadeInDown" style="height: 100vh;">
    <div id="formContent">
  
      <!-- Icon -->
      <div class="fadeIn first top text-center">
        <img src="/images/envoy.svg" id="icon" alt="Logo" height="150" />
      </div>
  
      <!-- Signup Form -->
      <form class="login-form text-center" id="signup-form">
      
        <input type="text" id="firstname-signup" class="fadeIn second" placeholder="first name" />
        <input type="text" id="lastname-signup" class="fadeIn second" placeholder="last name" />
        <input type="text" id="email-signup" class="fadeIn second" placeholder="email" />
        <input type="password" id="password-signup" class="fadeIn third" placeholder="password" />
        <input type="password" id="password2-signup" class="fadeIn third" placeholder="confirm password" />
        <input type="text" id="avatar-signup" class="fadeIn third" placeholder="avatar image url" />

        <div class="fadeIn third">or drag and drop an image to the box below</div>
        <input type="hidden" name="avatar_url" id="avatar_url" class="simple-file-upload fadeIn third" />

        <select id="region-signup" class="fadeIn third select-signup-form text-center">
            <option value="-1">select a region</option>
            {{#each regions as |region|}}
                <option value="{{region.id}}">{{region.region_name}}, {{region.country.country_name}}</option>
            {{/each}}
        </select>
        <input type="submit" class="fadeIn fourth signup-submit-btn" value="SignUp" />
      </form>
    <span class="err-txt" id="signup-error"></span>  
 
      <div id="formFooter">
        <p>Already have an account?</p><a class="underlineHover" href="./login">Log In Here</a>
      </div>
  
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js"></script>
<script src="./javascript/confirm-password.js"></script>
<script src="./javascript/signup.js"></script>