<div class="wrapper fadeInDown" style="height: 100vh;">
    <div id="formContent">
  
      <!-- Icon -->
      <div class="fadeIn first top">
        <img src="/images/envoy.svg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Signup Form -->
      <form class="signup-form">
        <input type="text" id="username-signup" class="fadeIn second" name="signup" placeholder="username">
        <input type="text" id="email-signup" class="fadeIn second" name="signup" placeholder="email">
        <input type="text" id="password-signup" class="fadeIn third" name="signup" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="SignUp">
      </form>
  
 
      <div id="formFooter">
        <p>Already have an account?</p><a class="underlineHover" href="./login">Log In Here</a>
      </div>
  
    </div>
</div>

<script src="./javascript/signup.js"></script>